@font-face{font-family:'BM11';src:url("/SE/font/BMHANNA_11yrs_ttf.ttf")}

body {
	background-image: url("/SE/img/background.png");
	background-repeat: inherit;
	background-size: 100%;
}

#addTable {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	border: 3px solid black;
}

#scheduleTable {
	margin: 3%;
	width: 80%;
	border-collapse: collapse;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	font-family: 'BM11';
	margin-top: 0px;
}

#VIPMemberTable {
	text-align : center;
	font-family: 'BM11';
	border-bottom: 5px solid black;
    border-top: 5px solid black;
    width: 250px;
    height: 300px;
    margin: 5%;
}

th {
	margin: 5px;
	font-size: 13pt;
	cursor: default;
	border-bottom: 3px solid black;
}

h1 {
	width: 300px;
	margin: auto;
	margin-top: 3%;
	text-align: center;
	font-family: 'BM11';
	cursor: default;
}

h3 {
	width: 300px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 5%;
	text-align: center;
	font-family: 'BM11';
	cursor: default;
}

.left {
	font-family: 'BM11';
	cursor: default;
	font-size: 13pt;
}

.right {
	font-family: 'BM11';
	width: 100px;
	font-size: 13pt;
}

.btn {
	font-family: 'BM11';
	font-size: 13pt;
	background-color: #cce6ff;
	border: 2px solid #cce6ff;
	border-radius: 5px;
}

.btn:hover {
	background-color: white;
	border: 2px solid #cce6ff;
	cursor: pointer;
}

.btn_r {
	font-family: 'BM11';
	font-size: 13pt;
	background-color: #cce6ff;
	border: 2px solid #cce6ff;
	border-radius: 5px;
	float: right;
	margin: 10px;
	width: 100px;
	hegith: 70px;
}

.btn_r:hover {
	background-color: white;
	border: 2px solid #cce6ff;
	cursor: pointer;
}

.btn_b {
	font-family: 'BM11';
	font-size: 13pt;
	background-color: #cce6ff;
	border: 2px solid #cce6ff;
	border-radius: 5px;
	width: 60px;
    height: 30px;
    margin-top: 10px;
    font-size: 14pt;
}

.btn_b:hover {
	background-color: white;
	border: 2px solid #cce6ff;
	cursor: pointer;
}

.scheduleData {
	cursor: default;
	text-align: center;
	font-family: 'BM11';
	background-color: transparent;
	border: 0px;
	font-size: 11pt;
}

.data {
	cursor: default;
}

#trHeader {
	border-bottom: 3px solid black;
}

#terminalBusClassTable {
	border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin: 5%;
    width: 250px;
    height: 100px;
    padding: 10px;
}

#div1 {
	width: 700px;
    margin: auto;
    display: flex;
}

#div2 {
	margin: 5%;
}

#div3 {
	margin: 5%;
	text-align: center;
}

#scheduleH3 {
	width: 300px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 2%;
	height: 3px;
	text-align: center;
	font-family: 'BM11';
	cursor: default;
}
