@font-face{font-family:'BM11';src:url("/SE/font/BMHANNA_11yrs_ttf.ttf")}

body {
	background-image: url("/SE/img/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#reservationHistoryTable {
	
}