@font-face{font-family:'BM11';src:url("/SE/font/BMHANNA_11yrs_ttf.ttf")}

body {
	background-image: url("/SE/img/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#selectInfoForm {
    margin: auto;
    width: 350px;
	height: 350px;
	border: 5px solid black;
    margin-bottom: 10%;
    padding: 30px;
}

#selectInfoTable {
	 width: 350px;
}


h1 {
	width: 300px;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'BM11';
}

h1:hover {
	color: gray;
	cursor: pointer;
}

h2 {
	width: 100%;
	text-align: center;
	font-family: 'BM11';
	cursor: default;
}

.left {
	width: 30%;
    height: 30px;
    text-align: center;
	font-family: 'BM11';
	cursor: default;
	font-size: 15pt;
}

.right {
	width: 90%;
	height: 30px;
	font-family: 'BM11';
}

span {
	font-family: 'BM11';
	font-size: 14pt;
	cursor: default;
}

#tdInquiryBtn {
	text-align: center;
}

#inquiryBtn {
	width: 120px;
	height: 40px;
	font-size: 15pt;
	background-color: #cce6ff;
	border: 2px solid #cce6ff;
	margin-top: 30px;
	border-radius: 5px;
	font-family: 'BM11';
}

#inquiryBtn:hover {
	color: black;
	background-color: white;
	border: 2px solid #cce6ff;
	cursor: pointer;
}